<main>
  <div class="header">
    <h1>ViraLattes!</h1>
    <div class="subtitle-bar"></div>
  </div>

  <div class="main-box">
    <div class="content-container">
      <input type="text" placeholder="Pesquisar">
      
      <div class="navigation-buttons">
        <button class="nav-btn" (click)="navigateToCurriculos()">
          📄 Ver Currículos
        </button>
      </div>
    </div>
  </div>
 
  <div class="action-box">
    <button class="action-btn" (click)="onLogout()" style="background-color: #d9534f">Sair</button>
  </div>
</main>
