<div class="historico-container">
  <div class="page-header">
    <div class="header-content">
      <span class="material-symbols-outlined header-icon">history</span>
      <div class="header-text">
        <h1>Histórico de Visualizações</h1>
        <p>Currículos visualizados recentemente</p>
      </div>
    </div>
    <button 
      *ngIf="!isLoading && historico.length > 0" 
      class="btn-clear-all" 
      (click)="clearHistorico()"
      title="Limpar todo o histórico">
      <span class="material-symbols-outlined">delete_sweep</span>
      Limpar Tudo
    </button>
  </div>
  
  <app-curriculo-list-simple
    [curriculos]="historico"
    [isLoading]="isLoading"
    [config]="listConfig"
    (viewCurriculo)="onViewCurriculo($event)"
    (removeCurriculo)="onRemoveFromHistorico($event)">
  </app-curriculo-list-simple>
</div>